@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;

  --color-primary: #0d631b;
  --color-primary-container: #2e7d32;
  --color-primary-fixed: #a3f69c;
  
  --color-secondary: #005db7;
  --color-secondary-container: #64a1ff;
  --color-secondary-fixed: #d6e3ff;

  --color-tertiary: #704d40;
  --color-tertiary-container: #8b6557;

  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #e2e2e2;

  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #40493d;

  --radius-default: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-plus antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
